<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>
      Pedido # {{ nropedido }}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  
  <ion-list>
    <ion-item *ngFor="let item of usuario" no-lines>
      <h2>Cliente: {{ item.NOMBRE }}</h2>
      <button ion-fab mini color="primary" (click)="llamar_usuario(item.CELULAR)" item-end><ion-icon name="ios-call" ></ion-icon></button>
      <button ion-fab mini color="accent" item-end><ion-icon name="logo-whatsapp"></ion-icon></button>
      <p>{{ item.DIRECCION }}</p>
      <p>{{ item.CELULAR }}</p>
    </ion-item>
    <ion-list-header>
      DETALLES DE LA ORDEN # {{ nropedido }}
    </ion-list-header>
    <ion-item class="item item-trns" *ngFor="let item of detalles">
      <ion-avatar item-start>
        <img src="http://taptana.net/{{ item.FOTO }}">
      </ion-avatar>
      <h2>{{ item.PRODUCTO }}</h2>
      <h2 item-end>$ {{ item.TOTAL}}</h2>
      <p>$ {{ item.COSTO }} C/U  -  X {{ item.CANTIDAD }}</p>
    </ion-item>
    <br>
    <ion-item class="item item-trns">
      <h2 item-star>Costo de envío</h2>
      <h2 style="color: #FF5722;" item-end>+ {{ costo_envio }}</h2>
    </ion-item>
  </ion-list>
  <div padding>
    <button  ion-button block color="accent" style="text-transform: none;" large round (click)="pedido_listo()">Llamar transportista</button>
    <!-- <button *ngIf="estado == 'F'" ion-button block color="accent" style="text-transform: none;" large round (click)="pedido_listo()" disabled>Llamar transportista</button> -->
  </div>
  <ion-footer color="primary">
    <ion-item class="item item-trns" no-lines>
      <h3 item-star>TOTAL</h3>
      <h1 item-end>$ {{ total }}</h1>
    </ion-item>
  </ion-footer>
</ion-content>
