<ion-header no-border>
  <ion-navbar color="primary">
    <button ion-button menuToggle
      style="background-color: #D1C4E9; opacity: 0.9; width: 48px; height: 48px; border-radius: 50%;position: relative;">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Pedidos
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list-header>
    LISTA DE ENTREGAS POR ATENDER
  </ion-list-header>
  <ion-card *ngFor="let item of pedidos">
    <ion-item class="item item-trns" style="border-left:4px solid #D1C4E9;">
      <h2>Desde: {{ item.NOMBRE_EMPRESA }}</h2>
      <p>{{ item.DIRECCION_EMPRESA }}</p>
      <h1 item-end>$ {{ item.SUBTOTAL}}</h1>
    </ion-item>
    <ion-item class="item item-trns" style="border-left:4px solid #FF5722;">
      <h2>Hasta: </h2>
      <h6 item-end>+ $ {{ item.COSTO_ENVIO}}</h6>
      <p>{{ item.DIRECCION }}</p>
    </ion-item>
    <ion-row>
      <ion-col col-6>
        <button ion-button block round sm  color="primary" style="text-transform: none;" (click)="aceptar_pedido(item.IDPEDIDO)">ACEPTAR PEDIDO</button>
        <!-- <button ion-button block round sm *ngIf="habilitar" color="primary" style="text-transform: none;" (click)="aceptar_pedido(item.IDPEDIDO)" disabled>ACEPTAR PEDIDO</button> -->
      </ion-col>
      <ion-col col-6>
        <button ion-button block outline round sm color="primarydark"  style="text-transform: none;"
          (click)="ver_detalles(item.IDPEDIDO, item.NROPEDIDO, item.IDUSUARIO, item.SUBTOTAL, item.COSTO_ENVIO, item.ESTADO, item.COORDENADAX, item.COORDENADAY, item.IDDIERECCION)">Detalles</button>
          <!-- <button ion-button block outline round sm color="primarydark" *ngIf="!habilitar" style="text-transform: none;"
          (click)="ver_detalles(item.NROPEDIDO, item.IDUSUARIO, item.SUBTOTAL, item.COSTO_ENVIO, item.ESTADO, item.COORDENADAX, item.COORDENADAY)" disabled>Detalles</button> -->
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
