page-perfil {
  ion-header {
    background-color: #f4f4f4;
    ion-icon {
      color: #9b0347;
      margin-right: 20px;
    }
    ion-title {
      font-weight: 400;
      text-align: center;
      strong {
        font-size: 20px;
        color: #9b0347;
      }
    }
  }
  .scroll-content {
    background-color: #f1eee9;
  }
}
